<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="nip">
	{$nip_editcontrol}
	</control>
	<control field="tanggal_absen">
	{$tanggal_absen_editcontrol}
	</control>
	<control field="jam_masuk">
	{$jam_masuk_editcontrol}
	</control>
	<control field="jam_keluar">
	{$jam_keluar_editcontrol}
	</control>
	<control field="status_masuk">
	{$status_masuk_editcontrol}
	</control>
	<control field="status_keluar">
	{$status_keluar_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>