<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Karyawan: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Nip</th>
			<th class="runner-cc ">Nama</th>
			<th class="runner-cc ">Jenis Kelamin</th>
			<th class="runner-cc ">Tempat Lahir</th>
			<th class="runner-cc ">Tanggal Lahir</th>
			<th class="runner-cc ">Golongan Darah</th>
			<th class="runner-cc ">Agama</th>
			<th class="runner-cc ">Status Pernikahan</th>
			<th class="runner-cc ">Alamat Lengkap</th>
			<th class="runner-cc ">Telepon Rumah</th>
			<th class="runner-cc ">Ponsel</th>
			<th class="runner-cc ">Email</th>
			<th class="runner-cc ">Hobi</th>
			<th class="runner-cc ">Pendidikan</th>
			<th class="runner-cc ">Tanggal Masuk</th>
			<th class="runner-cc ">Status Kerja</th>
			<th class="runner-cc ">Departemen</th>
			<th class="runner-cc ">Organisasi</th>
			<th class="runner-cc ">Golongan</th>
			<th class="runner-cc ">Jabatan</th>
			<th class="runner-cc ">No Ktp</th>
			<th class="runner-cc ">No Sim</th>
			<th class="runner-cc ">No Paspor</th>
			<th class="runner-cc ">No Npwp</th>
			<th class="runner-cc ">No Jamsostek</th>
			<th class="runner-cc ">No Asuransi</th>
			<th class="runner-cc ">No Pensiun</th>
			<th class="runner-cc ">Pensiun</th>
			<th class="runner-cc ">Tanggal Pensiun</th>
			<th class="runner-cc ">Foto</th>
			<th class="runner-cc ">Sk Tambahan</th>
			<th class="runner-cc runner-clast">Keterangan</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$nip_mastervalue}</td>
			<td class="runner-cc ">{$nama_mastervalue}</td>
			<td class="runner-cc ">{$jenis_kelamin_mastervalue}</td>
			<td class="runner-cc ">{$tempat_lahir_mastervalue}</td>
			<td class="runner-cc ">{$tanggal_lahir_mastervalue}</td>
			<td class="runner-cc ">{$golongan_darah_mastervalue}</td>
			<td class="runner-cc ">{$agama_mastervalue}</td>
			<td class="runner-cc ">{$status_pernikahan_mastervalue}</td>
			<td class="runner-cc ">{$alamat_lengkap_mastervalue}</td>
			<td class="runner-cc ">{$telepon_rumah_mastervalue}</td>
			<td class="runner-cc ">{$ponsel_mastervalue}</td>
			<td class="runner-cc ">{$email_mastervalue}</td>
			<td class="runner-cc ">{$hobi_mastervalue}</td>
			<td class="runner-cc ">{$pendidikan_mastervalue}</td>
			<td class="runner-cc ">{$tanggal_masuk_mastervalue}</td>
			<td class="runner-cc ">{$status_kerja_mastervalue}</td>
			<td class="runner-cc ">{$departemen_mastervalue}</td>
			<td class="runner-cc ">{$organisasi_mastervalue}</td>
			<td class="runner-cc ">{$golongan_mastervalue}</td>
			<td class="runner-cc ">{$jabatan_mastervalue}</td>
			<td class="runner-cc ">{$no_ktp_mastervalue}</td>
			<td class="runner-cc ">{$no_sim_mastervalue}</td>
			<td class="runner-cc ">{$no_paspor_mastervalue}</td>
			<td class="runner-cc ">{$no_npwp_mastervalue}</td>
			<td class="runner-cc ">{$no_jamsostek_mastervalue}</td>
			<td class="runner-cc ">{$no_asuransi_mastervalue}</td>
			<td class="runner-cc ">{$no_pensiun_mastervalue}</td>
			<td class="runner-cc ">{$pensiun_mastervalue}</td>
			<td class="runner-cc ">{$tanggal_pensiun_mastervalue}</td>
			<td class="runner-cc ">{$foto_mastervalue}</td>
			<td class="runner-cc ">{$sk_tambahan_mastervalue}</td>
			<td class="runner-cc runner-clast">{$keterangan_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>