<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_add}
<table class="runner-c runner-c-add" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-addheader {$brickclass_addheader}">Karyawan, Add new record</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style1 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="runner-message">{$message}</div></td><td class="runner-cr"></td></tr>{END message_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >
<tr class="{$cheaderclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>


	{BEGIN nip_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nip {$fielddispclass_nip}">
			{BEGIN nip_label}Nip{END nip_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_nip {$fielddispclass_nip}">
			{$nip_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nip_fieldblock}
	{BEGIN nama_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nama {$fielddispclass_nama}">
			{BEGIN nama_label}Nama{END nama_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_nama {$fielddispclass_nama}">
			{$nama_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nama_fieldblock}
	{BEGIN jenis_kelamin_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jenis_kelamin {$fielddispclass_jenis_kelamin}">
			{BEGIN jenis_kelamin_label}Jenis Kelamin{END jenis_kelamin_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_jenis_kelamin {$fielddispclass_jenis_kelamin}">
			{$jenis_kelamin_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jenis_kelamin_fieldblock}
	{BEGIN tempat_lahir_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tempat_lahir {$fielddispclass_tempat_lahir}">
			{BEGIN tempat_lahir_label}Tempat Lahir{END tempat_lahir_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_tempat_lahir {$fielddispclass_tempat_lahir}">
			{$tempat_lahir_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tempat_lahir_fieldblock}
	{BEGIN tanggal_lahir_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tanggal_lahir {$fielddispclass_tanggal_lahir}">
			{BEGIN tanggal_lahir_label}Tanggal Lahir{END tanggal_lahir_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_tanggal_lahir {$fielddispclass_tanggal_lahir}">
			{$tanggal_lahir_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tanggal_lahir_fieldblock}
	{BEGIN golongan_darah_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_golongan_darah {$fielddispclass_golongan_darah}">
			{BEGIN golongan_darah_label}Golongan Darah{END golongan_darah_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_golongan_darah {$fielddispclass_golongan_darah}">
			{$golongan_darah_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END golongan_darah_fieldblock}
	{BEGIN agama_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_agama {$fielddispclass_agama}">
			{BEGIN agama_label}Agama{END agama_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_agama {$fielddispclass_agama}">
			{$agama_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END agama_fieldblock}
	{BEGIN status_pernikahan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_status_pernikahan {$fielddispclass_status_pernikahan}">
			{BEGIN status_pernikahan_label}Status Pernikahan{END status_pernikahan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_status_pernikahan {$fielddispclass_status_pernikahan}">
			{$status_pernikahan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END status_pernikahan_fieldblock}
	{BEGIN alamat_lengkap_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_alamat_lengkap {$fielddispclass_alamat_lengkap}">
			{BEGIN alamat_lengkap_label}Alamat Lengkap{END alamat_lengkap_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_alamat_lengkap {$fielddispclass_alamat_lengkap}">
			{$alamat_lengkap_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_lengkap_fieldblock}
	{BEGIN telepon_rumah_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_telepon_rumah {$fielddispclass_telepon_rumah}">
			{BEGIN telepon_rumah_label}Telepon Rumah{END telepon_rumah_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_telepon_rumah {$fielddispclass_telepon_rumah}">
			{$telepon_rumah_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END telepon_rumah_fieldblock}
	{BEGIN ponsel_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ponsel {$fielddispclass_ponsel}">
			{BEGIN ponsel_label}Ponsel{END ponsel_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_ponsel {$fielddispclass_ponsel}">
			{$ponsel_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ponsel_fieldblock}
	{BEGIN email_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_email {$fielddispclass_email}">
			{BEGIN email_label}Email{END email_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}
	{BEGIN hobi_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_hobi {$fielddispclass_hobi}">
			{BEGIN hobi_label}Hobi{END hobi_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_hobi {$fielddispclass_hobi}">
			{$hobi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END hobi_fieldblock}
	{BEGIN pendidikan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pendidikan {$fielddispclass_pendidikan}">
			{BEGIN pendidikan_label}Pendidikan{END pendidikan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_pendidikan {$fielddispclass_pendidikan}">
			{$pendidikan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pendidikan_fieldblock}
	{BEGIN tanggal_masuk_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tanggal_masuk {$fielddispclass_tanggal_masuk}">
			{BEGIN tanggal_masuk_label}Tanggal Masuk{END tanggal_masuk_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_tanggal_masuk {$fielddispclass_tanggal_masuk}">
			{$tanggal_masuk_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tanggal_masuk_fieldblock}
	{BEGIN status_kerja_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_status_kerja {$fielddispclass_status_kerja}">
			{BEGIN status_kerja_label}Status Kerja{END status_kerja_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_status_kerja {$fielddispclass_status_kerja}">
			{$status_kerja_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END status_kerja_fieldblock}
	{BEGIN departemen_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_departemen {$fielddispclass_departemen}">
			{BEGIN departemen_label}Departemen{END departemen_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_departemen {$fielddispclass_departemen}">
			{$departemen_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END departemen_fieldblock}
	{BEGIN organisasi_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_organisasi {$fielddispclass_organisasi}">
			{BEGIN organisasi_label}Organisasi{END organisasi_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_organisasi {$fielddispclass_organisasi}">
			{$organisasi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END organisasi_fieldblock}
	{BEGIN golongan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_golongan {$fielddispclass_golongan}">
			{BEGIN golongan_label}Golongan{END golongan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_golongan {$fielddispclass_golongan}">
			{$golongan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END golongan_fieldblock}
	{BEGIN jabatan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jabatan {$fielddispclass_jabatan}">
			{BEGIN jabatan_label}Jabatan{END jabatan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_jabatan {$fielddispclass_jabatan}">
			{$jabatan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jabatan_fieldblock}
	{BEGIN no_ktp_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_no_ktp {$fielddispclass_no_ktp}">
			{BEGIN no_ktp_label}No Ktp{END no_ktp_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_no_ktp {$fielddispclass_no_ktp}">
			{$no_ktp_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END no_ktp_fieldblock}
	{BEGIN no_sim_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_no_sim {$fielddispclass_no_sim}">
			{BEGIN no_sim_label}No Sim{END no_sim_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_no_sim {$fielddispclass_no_sim}">
			{$no_sim_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END no_sim_fieldblock}
	{BEGIN no_paspor_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_no_paspor {$fielddispclass_no_paspor}">
			{BEGIN no_paspor_label}No Paspor{END no_paspor_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_no_paspor {$fielddispclass_no_paspor}">
			{$no_paspor_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END no_paspor_fieldblock}
	{BEGIN no_npwp_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_no_npwp {$fielddispclass_no_npwp}">
			{BEGIN no_npwp_label}No Npwp{END no_npwp_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_no_npwp {$fielddispclass_no_npwp}">
			{$no_npwp_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END no_npwp_fieldblock}
	{BEGIN no_jamsostek_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_no_jamsostek {$fielddispclass_no_jamsostek}">
			{BEGIN no_jamsostek_label}No Jamsostek{END no_jamsostek_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_no_jamsostek {$fielddispclass_no_jamsostek}">
			{$no_jamsostek_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END no_jamsostek_fieldblock}
	{BEGIN no_asuransi_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_no_asuransi {$fielddispclass_no_asuransi}">
			{BEGIN no_asuransi_label}No Asuransi{END no_asuransi_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_no_asuransi {$fielddispclass_no_asuransi}">
			{$no_asuransi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END no_asuransi_fieldblock}
	{BEGIN no_pensiun_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_no_pensiun {$fielddispclass_no_pensiun}">
			{BEGIN no_pensiun_label}No Pensiun{END no_pensiun_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_no_pensiun {$fielddispclass_no_pensiun}">
			{$no_pensiun_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END no_pensiun_fieldblock}
	{BEGIN pensiun_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pensiun {$fielddispclass_pensiun}">
			{BEGIN pensiun_label}Pensiun{END pensiun_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_pensiun {$fielddispclass_pensiun}">
			{$pensiun_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pensiun_fieldblock}
	{BEGIN tanggal_pensiun_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tanggal_pensiun {$fielddispclass_tanggal_pensiun}">
			{BEGIN tanggal_pensiun_label}Tanggal Pensiun{END tanggal_pensiun_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_tanggal_pensiun {$fielddispclass_tanggal_pensiun}">
			{$tanggal_pensiun_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tanggal_pensiun_fieldblock}
	{BEGIN foto_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_foto {$fielddispclass_foto}">
			{BEGIN foto_label}Foto{END foto_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_foto {$fielddispclass_foto}">
			{$foto_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END foto_fieldblock}
	{BEGIN sk_tambahan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sk_tambahan {$fielddispclass_sk_tambahan}">
			{BEGIN sk_tambahan_label}Sk Tambahan{END sk_tambahan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_sk_tambahan {$fielddispclass_sk_tambahan}">
			{$sk_tambahan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sk_tambahan_fieldblock}
	{BEGIN keterangan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_keterangan {$fielddispclass_keterangan}">
			{BEGIN keterangan_label}Keterangan{END keterangan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_keterangan {$fielddispclass_keterangan}">
			{$keterangan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END keterangan_fieldblock}
	{BEGIN id_login_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id_login {$fielddispclass_id_login}">
			{BEGIN id_login_label}Id Login{END id_login_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_id_login {$fielddispclass_id_login}">
			{$id_login_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_login_fieldblock}
	{BEGIN id_pelatihan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id_pelatihan {$fielddispclass_id_pelatihan}">
			{BEGIN id_pelatihan_label}Id Pelatihan{END id_pelatihan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_id_pelatihan {$fielddispclass_id_pelatihan}">
			{$id_pelatihan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_pelatihan_fieldblock}
	{BEGIN id_penghasilan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id_penghasilan {$fielddispclass_id_penghasilan}">
			{BEGIN id_penghasilan_label}Id Penghasilan{END id_penghasilan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_id_penghasilan {$fielddispclass_id_penghasilan}">
			{$id_penghasilan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_penghasilan_fieldblock}
	{BEGIN id_penilaian_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id_penilaian {$fielddispclass_id_penilaian}">
			{BEGIN id_penilaian_label}Id Penilaian{END id_penilaian_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_id_penilaian {$fielddispclass_id_penilaian}">
			{$id_penilaian_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_penilaian_fieldblock}
	{BEGIN id_absensi_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id_absensi {$fielddispclass_id_absensi}">
			{BEGIN id_absensi_label}Id Absensi{END id_absensi_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_id_absensi {$fielddispclass_id_absensi}">
			{$id_absensi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_absensi_fieldblock}



{BEGIN legend}
<tr  class="runner-row style3 runner-b-legend {$brickclass_legend}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span id="required_block{$id}">
<img src="images/icon_required.gif" alt="bullet"> - Required field
</span>
</td><td class="runner-cr"></td></tr>{END legend}



<tr  class="runner-row style2 runner-b-addbuttons {$brickclass_addbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN save_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$savebutton_attrs}>Save</a>
</span>
{END save_button}
{BEGIN cancel_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$cancelbutton_attrs}>Cancel</a>
</span>
{END cancel_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN backToMenu_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backToMenubutton_attrs}>Back to menu</a>
</span>
{END backToMenu_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_add}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_add}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
