<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="nip">
	{$nip_editcontrol}
	</control>
	<control 
	field="nama">
	{$nama_editcontrol}
	</control>
	<control 
	field="departemen">
	{$departemen_editcontrol}
	</control>
	<control 
	field="organisasi">
	{$organisasi_editcontrol}
	</control>
	<control 
	field="golongan">
	{$golongan_editcontrol}
	</control>
	<control 
	field="jabatan">
	{$jabatan_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
