<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Login - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN id_login_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_id_login {$fielddispclass_id_login}">
				Id Login
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id_login {$fielddispclass_id_login}">
			<input type="checkbox" {$id_login_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id_login {$fielddispclass_id_login}">
			{$searchtype_id_login}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id_login {$fielddispclass_id_login}">
			{$id_login_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id_login {$fielddispclass_id_login}">
			{$id_login_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_login_fieldblock}
	{BEGIN username_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_username {$fielddispclass_username}">
				Username
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_username {$fielddispclass_username}">
			<input type="checkbox" {$username_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_username {$fielddispclass_username}">
			{$searchtype_username}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_username {$fielddispclass_username}">
			{$username_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_username {$fielddispclass_username}">
			{$username_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END username_fieldblock}
	{BEGIN email_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_email {$fielddispclass_email}">
				Email
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			<input type="checkbox" {$email_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			{$searchtype_email}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}
	{BEGIN password_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_password {$fielddispclass_password}">
				Password
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_password {$fielddispclass_password}">
			<input type="checkbox" {$password_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_password {$fielddispclass_password}">
			{$searchtype_password}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_password {$fielddispclass_password}">
			{$password_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_password {$fielddispclass_password}">
			{$password_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END password_fieldblock}
	{BEGIN nip_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nip {$fielddispclass_nip}">
				Nip
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nip {$fielddispclass_nip}">
			<input type="checkbox" {$nip_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nip {$fielddispclass_nip}">
			{$searchtype_nip}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nip {$fielddispclass_nip}">
			{$nip_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nip {$fielddispclass_nip}">
			{$nip_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nip_fieldblock}
	{BEGIN user_level_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_user_level {$fielddispclass_user_level}">
				User Level
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_user_level {$fielddispclass_user_level}">
			<input type="checkbox" {$user_level_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_user_level {$fielddispclass_user_level}">
			{$searchtype_user_level}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_user_level {$fielddispclass_user_level}">
			{$user_level_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_user_level {$fielddispclass_user_level}">
			{$user_level_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END user_level_fieldblock}
	{BEGIN last_login_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_last_login {$fielddispclass_last_login}">
				Last Login
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_last_login {$fielddispclass_last_login}">
			<input type="checkbox" {$last_login_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_last_login {$fielddispclass_last_login}">
			{$searchtype_last_login}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_last_login {$fielddispclass_last_login}">
			{$last_login_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_last_login {$fielddispclass_last_login}">
			{$last_login_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END last_login_fieldblock}
	{BEGIN last_update_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_last_update {$fielddispclass_last_update}">
				Last Update
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_last_update {$fielddispclass_last_update}">
			<input type="checkbox" {$last_update_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_last_update {$fielddispclass_last_update}">
			{$searchtype_last_update}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_last_update {$fielddispclass_last_update}">
			{$last_update_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_last_update {$fielddispclass_last_update}">
			{$last_update_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END last_update_fieldblock}
	{BEGIN created_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_created {$fielddispclass_created}">
				Created
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_created {$fielddispclass_created}">
			<input type="checkbox" {$created_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_created {$fielddispclass_created}">
			{$searchtype_created}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_created {$fielddispclass_created}">
			{$created_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_created {$fielddispclass_created}">
			{$created_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
