<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Pelatihan, View record [
Id Pelatihan: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN id_pelatihan_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id_pelatihan {$fielddispclass_id_pelatihan}">
			<b>Id Pelatihan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_id_pelatihan {$fielddispclass_id_pelatihan}">
			{$id_pelatihan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END id_pelatihan_fieldblock}
	{BEGIN nip_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nip {$fielddispclass_nip}">
			<b>Nip</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_nip {$fielddispclass_nip}">
			{$nip_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END nip_fieldblock}
	{BEGIN tgl_pelatihan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tgl_pelatihan {$fielddispclass_tgl_pelatihan}">
			<b>Tgl Pelatihan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tgl_pelatihan {$fielddispclass_tgl_pelatihan}">
			{$tgl_pelatihan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tgl_pelatihan_fieldblock}
	{BEGIN sk_pelatihan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sk_pelatihan {$fielddispclass_sk_pelatihan}">
			<b>Sk Pelatihan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_sk_pelatihan {$fielddispclass_sk_pelatihan}">
			{$sk_pelatihan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sk_pelatihan_fieldblock}
	{BEGIN topik_pelatihan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_topik_pelatihan {$fielddispclass_topik_pelatihan}">
			<b>Topik Pelatihan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_topik_pelatihan {$fielddispclass_topik_pelatihan}">
			{$topik_pelatihan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END topik_pelatihan_fieldblock}
	{BEGIN penyelenggara_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_penyelenggara {$fielddispclass_penyelenggara}">
			<b>Penyelenggara</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_penyelenggara {$fielddispclass_penyelenggara}">
			{$penyelenggara_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END penyelenggara_fieldblock}
	{BEGIN hasil_pelatihan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_hasil_pelatihan {$fielddispclass_hasil_pelatihan}">
			<b>Hasil Pelatihan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_hasil_pelatihan {$fielddispclass_hasil_pelatihan}">
			{$hasil_pelatihan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END hasil_pelatihan_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
