<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="nip">
	{$nip_editcontrol}
	</control>
	<control field="tgl_pelatihan">
	{$tgl_pelatihan_editcontrol}
	</control>
	<control field="sk_pelatihan">
	{$sk_pelatihan_editcontrol}
	</control>
	<control field="topik_pelatihan">
	{$topik_pelatihan_editcontrol}
	</control>
	<control field="penyelenggara">
	{$penyelenggara_editcontrol}
	</control>
	<control field="hasil_pelatihan">
	{$hasil_pelatihan_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>